.placement{
    margin: 5%;
}
.action-row{
    padding-bottom: 10px;
}

.welcomeMessage{
    text-align: center;
    margin: 5%;
}

 .goal-table{
/*background: linear-gradient(white,#ccf5ff);*/
 }   

 .empty-message{
    padding-bottom: 10px;
}

.table-header{
    background-color: #d3d3d3;
}
