/*Setting page margin*/
.placement{
    margin: 5%;
}

/*Setting style for action row*/
.action-row{
    padding-bottom: 10px;
}

/*Setting style for welcome message*/
.welcome-message{
    text-align: center;
    margin: 5%;
} 

/*Setting style for message shown when there are no goals*/
 .empty-message{
    padding-bottom: 10px;
}

/*Setting background color for table header*/
.table-header{
    background-color: #d3d3d3;
}
