<!--Main content for header--> 
<div class="container-fluid">
    <div class="row col-xs-12 landing-header">
        <div class="w-50 mascot-img-container  align-self-center">
            <img class="mascot-img" src="../../assets/images/landing/Mascot.png" (click)="redirect()">
            <img class="brand-img" src="../../assets/images/landing/PrivateBook.png">
        </div>
        <div class="w-50 signout-button-container align-self-center">
            <span class="dropdown dropdown-toggle greeting greeting-message" data-toggle="dropdown" id="greetingButton">
                {{greetingMessage}}
            </span>
            <div class="dropdown-menu " aria-labelledby="greetingButton">
                <div class="dropdown-item logout" (click)="logout()">Logout</div>
            </div>
        </div>
    </div>
</div>