.landing-footer{
    height: 5vh;
    background-color:#008fb3;;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    position:fixed;
    left:0px;
    bottom:0px;
    padding-top: 1vh;
}