<!--Including header selector-->
<app-header></app-header>
<!--Including navigation selector-->
<app-navbar></app-navbar>
<!--Main content for about us page-->
<div class="about-us-div">
  <div class="about-us-message justify-content-center align-self-center">
  <h2>We're dedicated to making your life easier by providing everything under one roof.</h2>
  </div>
</div>
<div class="main-about-img-div">
  <img class="main-about-img" src="../assets/images/about-us/privatebook.jpg" alt="Everything you want to do at one place"
  />
</div>
<div class="mission">
  <h2>Our Mission</h2>
  <p>Our mission is to give you first class features to make your life easy</p>
</div>
<div class="team">
  <h2>The Team</h2>
  <p>Meet the team behind PrivateBook.org</p>
</div>
<!--Team members-->
<div class="flex-container">
  <div class="flex-item">
    <div class="feature-card">
      <div class="card card-transform border-primary mb-3">
        <img class="card-img-top animated swing" src="../assets/images/about-us/amish.jpg" alt="Amish Pandey">
        <div class="card-body about-us-card-body">
          <h4>Amish Pandey</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <div class="feature-card">
      <div class="card card-transform border-primary mb-3">
        <img class="card-img-top animated swing" src="../assets/images/about-us/deepti.jpg" alt="Deepti Gupta">
        <div class="card-body about-us-card-body">
          <h4>Deepti Gupta</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <div class="feature-card">
      <div class="card card-transform border-primary mb-3">
        <img class="card-img-top animated swing" src="../assets/images/about-us/mallika.jpg" alt="Mallika Malhotra">
        <div class="card-body about-us-card-body">
          <h4>Mallika Malhotra</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <div class="feature-card">
      <div class="card card-transform border-primary mb-3">
        <img class="card-img-top animated swing" src="../assets/images/about-us/ram.jpg" alt="Ramprasath Babu">
        <div class="card-body about-us-card-body">
          <h4>Ramprasath Babu</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <div class="feature-card">
      <div class="card card-transform border-primary mb-3">
        <img class="card-img-top animated swing" src="../assets/images/about-us/shyam.jpg" alt="Shyam Sundar">
        <div class="card-body about-us-card-body">
          <h4>Shyam Sundar</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<!--Including footer selector-->
<app-footer>
</app-footer>