/*Implementing style for diary entry page*/
.diary-editor{
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

/*Style for navigation link*/
.back-link{
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}