<app-header></app-header>
<body class=bo>
  <p class="para1"> Oops! </p>
  <span class="span1">4</span>
  <span class="img_span">
<img src="../assets/images/landing/Mascot.png" class="animated hinge" alt="Okkie" style="height:150px;"  />
</span>
  <span class="span1">4</span>
  <!--<iframe src="https://giphy.com/embed/xTiN0L7EW5trfOvEk0" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/internet-apple-technology-xTiN0L7EW5trfOvEk0">via GIPHY</a></p>-->
  <br />
  <p class="para"> Looks like you missed your way </p>
  <input type="submit" name="Run Back Home" value="Run Back Home" class="login">
  <app-footer></app-footer>