
       
		.first-span{
			font-size:12em;
		}
		.img-span{
			height:10%;
			width:10em;
		}
		
		.message{
			font-size:2em;
		}

        .error-page{
            margin: 0 auto;
            text-align: center;
        }

        .mascot-img{
            height:150px;
        }

        .home-link{
            color: #0000ff;
            text-decoration: underline;
            cursor: pointer;
        }