<h2>
  Sign In
</h2>
<p class="errorMessage" *ngIf="showErrorMessage">{{errorMessage}}</p>
<form (ngSubmit)="loginUser(signinForm)" #signinForm="ngForm" ngNativeValidate>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" ngModel required/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" minlength="6" ngModel required/>
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
  <button type="reset" class="btn btn-secondary">Reset</button>
</form>