<h2>
  Sign Up
</h2>
<div class="errorMessage" class="alert alert-danger animated tada" *ngIf="showErrorMessage">{{errorMessage}}</div>
<form (ngSubmit)="submitUser(signupForm)" #signupForm="ngForm" ngNativeValidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" minlength="3" placeholder="Minimum 3 character" ngModel required/>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" placeholder="Minimum 7 characters" ngModel required/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Minimum 6 characters" minlength="6" ngModel required/>
  </div>
  <div class="form-group">
    <label for="securityQuestion">Security Question</label>
    <input type="text" class="form-control" name="securityQuestion" placeholder="Minimum 1 characters" minlength="1" ngModel required/>
  </div>
  <div class="form-group">
    <label for="securityAnswer">Security Answer</label>
    <input type="text" class="form-control" name="securityAnswer" placeholder="Minimum 1 characters" minlength="1" ngModel required/>
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
  <button type="reset" class="btn btn-secondary">Reset</button>
</form>