<!--<div>
      <img src="../../assets/images/landing/Mascot.png" class="logo-img" style="float:left"><span class="brand"><img src="../../assets/images/landing/PrivateBook.png"></span>
    </div>-->

<!--<li id="sitename"><img src="Mascot.png" style="float:left"><a href="http://talkerscode.com">PrivateBook</a></li>-->
<!--<div class="landing-header">   
<app-landing-header></app-landing-header>
 </div>-->
<app-landing-header (signinClicked)="showSigninForm($event)"></app-landing-header>
<div class="container-fluid landing-body">
  <div class="row">
    <div class="main-img-container align-self-center">
      <img class="main-img " src="../../assets/images/landing/main.jpg" alt="Get all your stuff done in one place" />
    </div>
    <div class="form-container">
      <div class="account-form">
        <app-user-signup *ngIf="!accountExists"></app-user-signup>
        <app-user-signin *ngIf="accountExists"></app-user-signin>
        <span *ngIf="!accountExists">Already a member? <span class="anchor" (click)="showSignIn()">Sign In</span></span>
        <span *ngIf="accountExists">New member? <span class="anchor" (click)="showSignUp()">Sign Up</span></span>
      </div>
    </div>
  </div>
</div>