

.landing-body{
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 5vh;
	background: linear-gradient(white,#ccf5ff);
	overflow: auto;
	height: 85vh;
}


.anchor{
	color: blue;
	cursor: pointer;
}

.anchor:hover{
	text-decoration: underline;
}

.account-form{
	padding: 0;
	margin: 0 auto;
}

@media screen and (max-width: 767px){
	.main-img-container{
		display: none;
	}

	.form-container{
		width: 100%;
	}

	.account-form{
		width: 80%;
	}
}

@media screen and (min-width: 768px){
	.main-img-container{
		width: 60%;
		text-align: center;
	}

	.form-container{
		width: 40%;
	}

	.main-img{
		width: 80%;;
		height: auto;
	}

	.account-form{
		width: 60%;
	}
}

.row{
	width: 100%;
	margin: 0;
	padding: 0;
}

.btn-primary{
    background-color: orange;
}

.main-content{
	background: linear-gradient(#fff,#ccf5ff);
}




