<!--Including header component-->
<app-landing-header (signinClicked)="showSigninForm($event)">
</app-landing-header>
<!--Main content of the heading page-->
<div class="container-fluid landing-body main-content">
  <div class="row col-xs-12 landing-caption">
  </div>
  <div class="row">
    <div class="main-img-container align-self-center">
      <figure>
        <figcaption class="landing-caption">
          Manage everything under one roof
        </figcaption>
        <img class="main-img " src="../../assets/images/landing/main.jpg" alt="Get all your stuff done in one place" />

      </figure>
    </div>
    <div class="form-container">
      <div class="account-form">
        <!--Including sign up form component-->
        <app-user-signup *ngIf="!accountExists"></app-user-signup>
        <!--Including sign in form component-->
        <app-user-signin *ngIf="accountExists"></app-user-signin>
      </div>
    </div>
  </div>
</div>
<!--Including component for app footer-->
<app-footer></app-footer>