.placement{
    margin: 5%;
}
.action-row{
    padding-bottom: 10px;
}

.welcome-message{
    text-align: center;
    margin: 5%;
}

.element-display{
    display: inline-block;
}

.empty-message{
    padding-bottom: 10px;
}
