<!--Including header selector-->
<app-header></app-header>
<!--Including navigation bar selector-->
<app-navbar></app-navbar>

<!--Content to be displayed when there is not diary entry for user-->
<div *ngIf="entriesToDisplay.length === 0" class="welcome-message">
  <div class="empty-message">
    No journal entries found! I’d love to hear your story!
  </div>
  <div>
    <button class="btn btn-primary" (click)="openEditor()">
  Add new entry
  </button>
  </div>
</div>

<!--Content to be displayed there are diary entries for user-->
<div class="placement" *ngIf="entriesToDisplay.length > 0">
  <div class="action-row row float-right">
    <button class="btn btn-primary" (click)="openEditor()">
  Add new entry
  </button>
  </div>
  <br/>
  <br/>
  <main>
    <div >
      <div *ngFor="let entry of entriesToDisplay">
        <div class="diary-entry">
          <details class="diary-detail">
            <summary class="diary-summary">{{getDatePart(entry.date)}}
              <span class="pull-right" (click)="editEntry(entry.entryId)">
              Edit
            </span>
            </summary>
            <div [innerHTML]="entry.entry"></div>
          </details>
        </div>
      </div>
    </div>
  </main>
  <!--Pagination-->
  <div class="float-right" *ngIf="entriesToDisplay.length > 0">
    <ngb-pagination [collectionSize]="totalLength" (pageChange)="changePage($event)" [(page)]="page" [maxSize]="3" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
<!--Including footer selector-->
<app-footer></app-footer>