.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-greeting{
    text-align: center;
    color: darkorange;
    /*font-weight: bold;
    font-style: italic;*/
    font-size: 1.5em;
    font-family: 'Philosopher', sans-serif;
}
.main-content{
    padding-bottom: 35px;
}

.card-transform{
    background-color: #ffd175;
    color: #1537b6;
}

.card-header{
    background-color: #e99803;
    font-weight: bold;
}

.card-transform:hover {   
    box-shadow: 1px 1px 10px #000;
     -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
      }

.card-img-top{
    height: 60%;
}      

.feature-flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-selection{
    padding-top: 25px;
    padding-bottom: 25px;
    color: #00008b;
}


@media screen and (max-width: 767px){
    .flex-item{
        flex-basis: 80%;
    }
    .feature-selection{
    width: 80%;
    margin: auto;
}
}

@media screen and (min-width: 768px){
    .flex-item{
        flex-basis: 35%;
    }
    .card{
        height: 350px;
    }
    .feature-selection{
    width: 96.500000000000000000000%;
    margin: auto;
}
}

.card{
    cursor: pointer;
}

.feature-summary{
    color: #00008b;
    font-weight: bold;
    padding-bottom: 0.8em;
}

